body{
    background-color:#CEE4F2 ;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}




h1{
    color:black ;
}
#logo
{
    width: 500px;
}
#estudiantes
{
    width: 500px;
    height: 300px;
}
h1 ~ p
{
    color:rgb(116, 116, 156);
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

h3
{
    font-size: 25px;
    font-family: cursive;
}

#fondoCabeza
{
    width: 100%;
    height: 450px;
    background-color: #AAB7BF;

}
#cajaLogo
{
    padding-top: 100px;

}
#textoLogo
{
    color: rgb(2, 2, 61);
    font-size: 40px ;

}
#menuPpal {
    background-color: #CEE4F2 ;
    padding: 7px;
    box-shadow: 5px 5px 15px 5px black;
}
#menuPpal li{
 
    display: inline-block;
    list-style: none;
    padding: 10px;

}
#menuPpal a {
    text-decoration: none;
    color: black;
}
#seccion1{
    text-align: center;
    display:flex;
    justify-content: space-evenly;


}
#contvideo{
    width: 50%;
}

#textoPpal{

    color: black;
    width: 50%;

}

#videoPpal{

    width: 100%;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 5px 15px 5px gray;
    

}

#seccion2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}
.ser{

    margin: 20px;

}
#mentorias2{
    width: 500px;
    height: 300px;
}
#mentorias{
    width: 500px;
    height: 300px;
}
#seccion3{
    text-align: center;
    display:flex;
    align-items: center;
    
}
#seccion3a{
    width: 50%;
}
#seccion3b{
    width: 50%;
}
#footer{
    display:flex;
    flex-direction: row;
    text-align: center;

}
#contUbic{
    width: 35%;

}
#contRedes{
    width: 35%;
}
#contAudio{
    width: 35%;
}